<h1>Qui somme nous ?</h1>
<p> Issus d'horizons divers et variés, notre équipe à la fois dynamique et bienveillante réunie sous la banière ADAMING et INTI, mélange le meilleurs du savoir faire
    de différentes disciplines afin de satisfaire vos besoin.
<h1>Les membres</h1>
<h2>Partie front end</h2>
<h3>Stephane :</h3>
<h3>Kilian :</h3>
<h2>Partie back end</h2>
<h3>Johan :</h3>
<h3>Pierre-Antoine :</h3>
<h2>Web Design / Community Manager</h2>
<h3>Julie :</h3>
<h2>Base de données</h2>
<h3>Nana</h3>
<h2>Dev Ops</h2>
<h3>David : </h3>

