<h1>Notre projet : Printed</h1>
<br>

<h2>Pourquoi un site E-Commerce ?</h2>
<p> <br> Depuis tout jeune notre passion a été d'apporter des couleurs dans la vie morne et monotone de la plèbe. <br>
<br> Vous vous sentez seul ? Abandonné ? Votre personnalité est facilement effacée face charisme défrisant d'une huitre?<br>
    <br> Nous sommes là pour vous ! A l'aide de notre site passez d'une loque moche et inintéressante à simplement quelqu'un de chiant<br>
    <br> Alors n'attendez plus, commandez sur notre site et recevez les plus beaux designs qui vous feront briller en société !<br>
</p>

<h2>Quelle sont les fonctionnalités de notre site ?</h2>
<br>
<p>Vous pourrez, grâce à Printed, acheter et personnaliser une gamme prédéfinie de vétements. Laissez libre cours à
votre imagination, nous nous chargeons du reste ! Enfin seulement pour le physique, stay cool stay shallow</p>



